<div class="container">
  <h1>新規ユーザ登録</h1>
  <form>

    <div class="form-group">
      <label for="name">氏名</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="user.name" name="name">
    </div>

    <div class="form-group">
      <label for="kana">カナ</label>
      <input type="text" class="form-control" id="kana"
             required
             [(ngModel)]="user.kana" name="kana">
    </div>

    <div class="form-group">
      <label for="phone">電話番号</label>
      <input type="text" class="form-control" id="phone"
             required
             [(ngModel)]="user.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="email">メール</label>
      <input type="text" class="form-control" id="email"
             required
             [(ngModel)]="user.email" name="email">
    </div>

    <button (click)="add();">
      add
    </button>

  </form>
</div>


<!--<div>-->
  <!--<label>User name:-->
    <!--<input #userName />-->
  <!--</label>-->
  <!--&lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;-->
  <!--<button (click)="add(userName.value); userName.value=''">-->
    <!--add-->
  <!--</button>-->
<!--</div>-->
